* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  font-family: "open-sans", "Gothic A1", sans-serif;
  width: 75%;
  margin: auto;
  text-align: center;
}

header h1 {
  margin-top: 1em;
  font-size: 1.56em;
  font-weight: 400;
}

header p {
  margin: 2em;
  font-size: 0.95em;
  font-weight: 300;
}

#contactFormEnquiry .colouredLine {
  background-color: black;
}

#contactFormSection #contactForm {
  width: 75%;
  display: flex;
  flex-direction: column;
  margin: auto;
}

#contactFormSection #contactForm input {
  width: 100%;
  font-size: 0.9em;
  font-weight: 300;
}

#contactFormSection #contactForm #contactFormSubmitBtn {
  align-self: center;
  background-color: #5bce11;
  font-family: "open-sans", "Gothic A1", sans-serif;
  color: white;
  text-decoration: none;
  padding: 15px;
  font-size: 0.9em;
}

#contactFormSection #contactForm #contactFormSubmitBtn:hover img {
  transform: translateX(5px) translateY(2px);
}

#contactFormSection #contactForm #contactFormSubmitBtn img {
  width: 25px;
  margin-left: 3px;
  transition: all 0.2s ease-out;
  transform: translateY(2px);
}

#contactFormSection #contactForm #sliderHeader {
  margin: 1em;
}

#contactFormSection #contactForm #budgetSlider {
  width: 100%;
}

#contactFormSection #contactForm h1 {
  font-family: "open-sans", "Gothic A1", sans-serif;
  text-align: center;
}

#contactFormSection #contactForm input {
  border: none;
  padding-left: 0.7em;
}

#contactFormSection #contactForm input::placeholder {
  font-family: "open-sans", "Gothic A1", sans-serif;
  color: #bfbfbf;
}

#contactFormSection #contactForm input:focus {
  outline: none;
}

#contactFormSection #contactForm .fieldInput {
  align-items: center;
  display: flex;
  width: 100%;
}

#contactFormSection #contactForm #toggleSubjectsBtn {
  color: black;
  position: absolute;
  left: 100%;
  transform: translateX(-14px) translateY(4px);
}

#contactFormSection #contactForm #contactFormSubject .colouredLine {
  background-color: black;
}

#contactFormSection #contactForm #contactFormSubject input {
  flex-grow: 1;
}

#contactFormSection #contactForm #contactFormSubject .fieldInput {
  display: flex;
  position: relative;
}

#contactFormSection #contactForm #contactFormName div.fieldInput input {
  width: 100%;
}

#contactFormSection #contactForm #contactFormName .colouredLine {
  background-color: black;
}

#contactFormSection #contactForm #contactFormBudget {
  margin-bottom: 3em;
  position: relative;
}

#contactFormSection #contactForm > section:not(#contactFormBudget) {
  display: flex;
  border-bottom: #b3b3b3 1px solid;
  padding-bottom: 10px;
  margin: 0 0.7em 0 0.7em;
  margin-top: 45px;
  position: relative;
}

#contactFormSection #contactForm > section:not(#contactFormBudget) .fieldInput {
  flex-grow: 1;
}

#contactFormSection #contactForm label {
  width: 73px;
  font-family: "open-sans", "Gothic A1", sans-serif;
  margin-right: 10px;
}

#contactFormSection #contactForm #subjectOptions {
  display: none;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 10px 0.7em 0 0.7em;
  padding-left: 0.6em;
}

#contactFormSection #contactForm #subjectOptions a {
  text-decoration: none;
  font-family: "open-sans", "Gothic A1", sans-serif;
  font-size: 0.8em;
  color: #bfbfbf;
  white-space: nowrap;
  transition: color 0.1s;
}

#contactFormSection #contactForm #subjectOptions a:hover {
  color: #646464;
}

#contactFormSection #contactForm #subjectOptions a.activeSubject {
  color: #646464;
}

#contactFormSection #contactForm #subjectOptions .subjectOption {
  display: flex;
  align-items: center;
}

#contactFormSection #contactForm #subjectOptions .subjectOption .separator {
  margin-left: 5px;
  margin-right: 5px;
  background-color: #bfbfbf;
  height: 13px;
}

.threeItemRow {
  display: flex;
  margin: 0 0.7em 0 0.7em;
  justify-content: space-between;
  margin-top: 45px;
}

.threeItemRow section {
  width: 32%;
  display: flex;
  border-bottom: #b3b3b3 1px solid;
  padding-bottom: 10px;
  position: relative;
}

.threeItemRow section input {
  width: 100%;
}

.threeItemRow section .colouredLine {
  background-color: black;
}

.colouredLine {
  background-color: white;
  width: 0%;
  height: 1px;
  top: 100%;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  transition: 0.5s width;
}

.colouredLine.expanded {
  width: 100%;
}

#newsletterPrompt {
  text-align: center;
  background-color: lightblue;
  font-family: "open-sans", "Gothic A1", sans-serif;
  padding: 10em;
  background: linear-gradient(90deg, #2e003f, #9f1b54);
  color: white;
  margin-top: 2em;
}

#newsletterPrompt #newsletterEmail {
  position: relative;
}

#newsletterPrompt #newsletterEmail input {
  font-size: 0.9em;
  font-weight: 300;
}

#newsletterPrompt .errorEmail {
  width: 50%;
  text-align: left;
  margin-top: 8px;
  padding-left: 9.33px;
  color: #eb0028;
  font-size: 14px;
  display: none;
  position: absolute;
  transform: translateX(50%);
}

#newsletterPrompt .fieldInput {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  width: 50%;
  margin: auto;
  padding-bottom: 0.5em;
  position: relative;
}

#newsletterPrompt .fieldInput .clearAndClose {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  transform: translateX(-100%);
  color: #bfbfbf;
}

#newsletterPrompt .fieldInput .colouredLine {
  background-color: white;
  width: 0%;
  height: 1px;
  top: 100%;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  transition: 0.5s width;
}

#newsletterPrompt .fieldInput .colouredLine.expanded {
  width: 100%;
}

#newsletterPrompt .fieldInput .emailDropdown {
  background-color: white;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 1;
  color: #676767;
  text-align: left;
  height: 0;
  transition: 0.2s height;
  overflow: hidden;
}

#newsletterPrompt .fieldInput .emailDropdown .emailOption {
  height: 40px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  cursor: pointer;
}

#newsletterPrompt .fieldInput .emailDropdown .emailOption .customEmail {
  color: RGB(177, 177, 177);
}

#newsletterPrompt .fieldInput .emailDropdown .emailOption.keyboardSelectedEmailOption {
  background: #f6f6f6;
}

#newsletterPrompt .fieldInput .emailDropdown .emailOption:hover {
  background: #f6f6f6;
}

#newsletterPrompt input {
  width: 100%;
  background-color: transparent;
  border: none;
  color: white;
  font-family: "open-sans", "Gothic A1", sans-serif;
  padding-left: 0.7em;
}

#newsletterPrompt input:focus {
  outline: none;
}

#newsletterPrompt input::placeholder {
  color: #bfbfbf;
  font-family: "open-sans", "Gothic A1", sans-serif;
}

#newsletterPrompt h1 {
  font-size: 3em;
  margin-bottom: 0.5em;
}

#newsletterPrompt h2 {
  margin-bottom: 2em;
}

#newsletterPrompt #newsletterPrompt {
  display: inline-block;
}

#footerBottom {
  display: flex;
  width: 95%;
  justify-content: space-between;
  margin: auto;
  font-family: "open-sans", "Gothic A1", sans-serif;
  font-size: 0.74em;
}

#footerBottom #footerBottomLeft, #footerBottom #footerBottomRight {
  margin: 2em 0 2em 0;
}

#footerBottom #footerBottomRight {
  width: 50%;
}

#footerTop {
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin: auto;
  font-family: "open-sans", "Gothic A1", sans-serif;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  align-items: center;
}

#footerTop #footerTopLeft {
  padding-top: 30px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
}

#footerTop #footerTopLeft span {
  display: flex;
  align-items: center;
}

#footerTop #footerTopLeft img {
  width: 25px;
  margin-right: 10px;
}

#footerTop #footerTopRight {
  display: flex;
  width: 38em;
  justify-content: space-between;
  align-items: center;
}

#footerTop #footerTopRight .separator {
  background-color: rgba(0, 0, 0, 0.1);
}

.socialMedia {
  display: flex;
  width: 7em;
  justify-content: space-between;
}

.socialMedia .iconSocialMedia {
  color: #939393;
  font-size: 1.7em;
}

.telNo {
  font-size: 16px;
}

.telNo a {
  text-decoration: none;
  color: #09c;
}

.separator {
  width: 1px;
  background-color: black;
  height: 17px;
  display: inline-block;
}

.siteMapLinks {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.siteMapLinks a {
  text-decoration: none;
  color: #939393;
  transition: color 0.4s;
}

.siteMapLinks a:hover {
  color: #646464;
}

.siteMapLinks .separator {
  background-color: rgba(0, 0, 0, 0.1);
}

.siteMapLinkContainer {
  padding: 5px;
  text-align: center;
}

/* Hide everything */
input[type=range]::-ms-track {
  width: 100%;
  height: 100%;
  -webkit-appearance: none;
  margin: 0px;
  padding: 0px;
  border: 0 none;
  background: transparent;
  color: transparent;
  overflow: visible;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 100%;
  -moz-appearance: none;
  margin: 0px;
  padding: 0px;
  border: 0 none;
  background: transparent;
  color: transparent;
  overflow: visible;
}

input[type=range] {
  width: 100%;
  height: 100%;
  -webkit-appearance: none;
  margin: 0px;
  padding: 0px;
  border: 0 none;
  background: transparent;
  color: transparent;
  overflow: visible;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: transparent;
  border: transparent;
}

input[type=range]:focus {
  outline: none;
}

/* Make the thumbs the same size as your custom sliderthumb. They will not be visible but they will be draggable. */
input[type=range]::-ms-thumb {
  width: 40px;
  height: 40px;
  border-radius: 0px;
  border: 0 none;
  background: transparent;
}

input[type=range]::-moz-range-thumb {
  width: 40px;
  height: 40px;
  border-radius: 0px;
  border: 0 none;
  background: transparent;
}

input[type=range]::-webkit-slider-thumb {
  width: 40px;
  height: 40px;
  border-radius: 0px;
  border: 0 none;
  background: transparent;
  -webkit-appearance: none;
}

/* Eliminate the default appearance and tooltip behaviour that is peculiar to IE and Edge. */
input[type=range]::-ms-fill-lower {
  background: transparent;
  border: 0 none;
}

input[type=range]::-ms-fill-upper {
  background: transparent;
  border: 0 none;
}

input[type=range]::-ms-tooltip {
  display: none;
}

/* The .slider and .slidervertical classes are for the range inputs. Set the z-index high so its on top. */
.slider,
.slidervertical {
  position: absolute;
  left: 0;
  top: 0;
  overflow: visible;
  z-index: 100;
}

/* slidershell exists only to provide a positioning context for the range input and other elements.*/
.slidershell {
  border: 0 none;
  position: relative;
  left: 0;
  top: 0;
  overflow: visible;
  width: calc(100% - 16px);
  margin: auto;
}

/* .slidertrack is the visible track on which the user drags the thumb button. */
.slidertrack {
  border-top: 1px #b3b3b3 solid;
  position: absolute;
  width: 100%;
}

/* .sliderfill adds color (or a gradient as seen here) to the track as the user drags the thumb. */
.sliderfill {
  position: absolute;
  pointer-events: none;
  background: #00767f;
  background: linear-gradient(90deg, #2cb43e, #93ff13);
  z-index: 1;
  height: 4px;
  top: 50%;
  transform: translateY(-50%);
}

.sliderthumb {
  width: 40px;
  height: 40px;
  z-index: 2;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 0;
  margin: 0;
  text-align: center;
  pointer-events: none;
}

/* .slidervalue can be styled as you see fit */
.slidervalue {
  height: 40px;
  line-height: 40px;
  color: #717171;
  font-family: "open-sans", "Gothic A1", sans-serif;
  font-size: 0.95em;
  position: absolute;
  left: 0;
  top: 100%;
  border: 0 none;
  padding: 0;
  margin: 0;
  text-align: center;
  pointer-events: none;
}

table {
  width: 100%;
}

footer {
  margin: auto;
}

footer #flagAndText {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.8);
  text-align: center;
}

footer .openingHours {
  font-size: 14px;
  color: #222222;
}

/* Media query stuff for form */
@media screen and (max-width: 1340px) {
  #footerBottom {
    flex-direction: column;
  }
  #footerBottom #footerBottomLeft {
    text-align: center;
    order: 2;
  }
  #footerBottom #footerBottomRight {
    order: 1;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }
  #footerTop {
    flex-direction: column;
  }
  #footerTop #footerTopRight {
    flex-direction: column;
    width: unset;
  }
  #footerTop #footerTopRight .telNo {
    font-size: 20px;
    margin-bottom: 20px;
  }
  #footerTop #footerTopRight .openingHours {
    margin-bottom: 20px;
  }
  #footerTop #footerTopRight .socialMedia {
    margin-bottom: 20px;
    width: 10em;
  }
  #footerTop #footerTopRight .separator {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  #contactFormSection form#contactForm, header p {
    width: 85%;
  }
  header {
    width: 100%;
  }
  header p {
    text-align: center;
  }
  #newsletterPrompt h1 {
    font-size: 2.5em;
  }
  .threeItemRow {
    flex-direction: column;
    margin: 0 0.7em 0 0.7em;
  }
  .threeItemRow section {
    width: 100%;
    margin-top: 45px;
  }
}

@media screen and (max-width: 850px) {
  #newsletterPrompt h1 {
    font-size: 2em;
  }
}

@media screen and (max-width: 850px) {
  #newsletterPrompt {
    padding-left: 1em;
    padding-right: 1em;
  }
  #newsletterPrompt .fieldInput {
    width: 85%;
  }
}

button.conceptaiButton.showing.vertical {
  display: none;
}

.clearAndClose img {
  height: 11px;
}

.copyright {
  color: #999999;
}

button.conceptaiButton.hidden {
  left: 75%;
  position: absolute;
  top: 100%;
  transform: translateY(-100%);
  padding: 0 1em;
  height: 40px;
  width: 110px;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  border-radius: 2px;
  opacity: 0;
  transition: all 1s;
  pointer-events: none;
}

button.conceptaiButton.showing {
  display: block;
  opacity: 1.0;
  left: 68%;
  position: absolute;
  top: 100%;
  transform: translateY(-100%);
  padding: 0 1em;
  height: 40px;
  width: 110px;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  border-radius: 2px;
  transition: all 1s;
  cursor: pointer;
}

.newsletterCentered {
  position: relative;
  font-family: "open-sans", "Gothic A1", sans-serif;
}

.newsletterCentered h2, .newsletterCentered h1 {
  font-weight: 400;
}

#sliderHeader {
  font-family: "open-sans", "Gothic A1", sans-serif;
  text-align: center;
}

button.conceptaiButton.hidden.vertical {
  opacity: 0;
  left: 50%;
  top: 100%;
  transform: translateY(285%) translateX(-50%);
  padding: 0 1em;
  height: 40px;
  width: 110px;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  border-radius: 2px;
  transition: all 1s;
  pointer-events: none;
}

button.conceptaiButton.showing.vertical {
  opacity: 1.0;
  left: 50%;
  top: 60%;
  transform: translateY(285%) translateX(-50%);
  padding: 0 1em;
  height: 40px;
  width: 110px;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  border-radius: 2px;
  transition: all 1s;
  pointer-events: all;
}

@media screen and (max-width: 735px) {
  button.conceptaiButton.showing.vertical {
    display: block;
  }
  #newsletterPrompt .fieldInput {
    width: 50% !important;
  }
  button.conceptaiButton.hidden:not(.vertical) {
    display: none !important;
  }
  button.conceptaiButton.showing:not(.vertical) {
    display: none !important;
  }
  .nonmobile {
    display: none;
  }
  #footerTop #footerTopLeft span {
    font-size: 0.8em;
    display: flex;
  }
  #footerTop #footerTopLeft span img {
    display: none;
  }
}

svg {
  width: 40px;
  height: 40px;
  transform: rotate(-90deg);
  border-radius: 50%;
  position: absolute;
  z-index: 100;
}

circle:not(#outline) {
  fill: white;
  stroke: #5bce11;
  stroke-width: 32;
  /* This is where the % is! */
  stroke-dasharray: 50 100;
  /* for 38% */
}

circle#outline {
  fill: transparent;
  stroke: #2cb43e;
  stroke-width: 4;
}

@-webkit-keyframes ConceptaiGradient {
  0% {
    background-position: 9% 0%;
  }
  50% {
    background-position: 92% 100%;
  }
  100% {
    background-position: 9% 0%;
  }
}

@-moz-keyframes ConceptaiGradient {
  0% {
    background-position: 9% 0%;
  }
  50% {
    background-position: 92% 100%;
  }
  100% {
    background-position: 9% 0%;
  }
}

@-o-keyframes ConceptaiGradient {
  0% {
    background-position: 9% 0%;
  }
  50% {
    background-position: 92% 100%;
  }
  100% {
    background-position: 9% 0%;
  }
}

@keyframes ConceptaiGradient {
  0% {
    background-position: 9% 0%;
  }
  50% {
    background-position: 92% 100%;
  }
  100% {
    background-position: 9% 0%;
  }
}

#newsletterPrompt {
  -webkit-animation: ConceptaiGradient 30s ease infinite;
  -moz-animation: ConceptaiGradient 30s ease infinite;
  -o-animation: ConceptaiGradient 30s ease infinite;
  animation: ConceptaiGradient 30s ease infinite;
  background-size: 400% 400%;
}
