* {
  margin: 0;
  padding: 0;
}

body, html {
  overflow-x: hidden;
}

#footerSection {
  /* Hide everything */
  /* Make the thumbs the same size as your custom sliderthumb. They will not be visible but they will be draggable. */
  /* Eliminate the default appearance and tooltip behaviour that is peculiar to IE and Edge. */
  /* The .slider and .slidervertical classes are for the range inputs. Set the z-index high so its on top. */
  /* slidershell exists only to provide a positioning context for the range input and other elements.*/
  /* .slidertrack is the visible track on which the user drags the thumb button. */
  /* .sliderfill adds color (or a gradient as seen here) to the track as the user drags the thumb. */
  /* .slidervalue can be styled as you see fit */
  /* Media query stuff for form */
  /* Kill off vomit yellow */
}

#footerSection * {
  box-sizing: border-box;
}

#footerSection #contactFormSubmitBtn {
  text-align: center;
  width: 153px;
  height: 48px;
  justify-content: center;
}

#footerSection header {
  font-family: "open-sans", "Gothic A1", sans-serif;
  width: 75%;
  margin: auto;
  text-align: center;
}

#footerSection header h1 {
  margin-top: 1em;
  font-size: 1.56em;
  font-weight: 400;
}

#footerSection header p {
  margin: 2em;
  margin-left: auto;
  margin-right: auto;
  font-size: 0.95em;
  font-weight: 300;
}

#footerSection #contactFormEnquiry .colouredLine {
  background-color: black;
}

#footerSection .newsletterMessage {
  padding-left: 0.7em;
  font-size: 0.9em;
  font-family: "open-sans", "Gothic A1", sans-serif;
}

#footerSection #contactFormSection #contactForm {
  width: 75%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin: auto;
}

#footerSection #contactFormSection #contactForm #contactFormCompany {
  z-index: 10;
  background-color: white;
}

#footerSection #contactFormSection #contactForm section#contactFormEmail {
  z-index: 9;
  background-color: white;
}

#footerSection #contactFormSection #contactForm input {
  width: 100%;
  font-size: 0.9em;
  font-weight: 300;
  font-family: "open-sans", "Gothic A1", sans-serif;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

#footerSection #contactFormSection #contactForm #contactFormSubmitBtn {
  align-self: center;
  background-color: #48aa15;
  font-family: "open-sans", "Gothic A1", sans-serif;
  color: white;
  text-decoration: none;
  padding: 15px;
  font-size: 0.8em;
  display: flex;
}

#footerSection #contactFormSection #contactForm #contactFormSubmitBtn:hover img {
  transform: translateX(5px) translateY(2px);
}

#footerSection #contactFormSection #contactForm #contactFormSubmitBtn img {
  width: 25px;
  margin-left: 3px;
  transition: all 0.2s ease-out;
  transform: translateY(2px);
  object-fit: scale-down;
}

#footerSection #contactFormSection #contactForm #sliderHeader {
  margin: 1em;
  margin-top: 40px;
}

#footerSection #contactFormSection #contactForm #budgetSlider {
  width: 100%;
}

#footerSection #contactFormSection #contactForm h1 {
  font-family: "open-sans", "Gothic A1", sans-serif;
  text-align: center;
}

#footerSection #contactFormSection #contactForm input {
  border: none;
  padding-left: 0.7em;
}

#footerSection #contactFormSection #contactForm input::placeholder {
  font-family: "open-sans", "Gothic A1", sans-serif;
  color: #919191;
}

#footerSection #contactFormSection #contactForm input:focus {
  outline: none;
}

#footerSection #contactFormSection #contactForm .fieldInput {
  align-items: center;
  display: flex;
  width: 70%;
}

#footerSection #contactFormSection #contactForm #toggleSubjectsBtn {
  color: black;
  position: absolute;
  left: calc(100% - 14px);
}

#footerSection #contactFormSection #contactForm #contactFormSubject .colouredLine {
  background-color: black;
}

#footerSection #contactFormSection #contactForm #contactFormSubject input {
  width: calc(100% - 20px);
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

#footerSection #contactFormSection #contactForm #contactFormSubject .fieldInput {
  display: flex;
  position: relative;
}

#footerSection #contactFormSection #contactForm #contactFormName div.fieldInput input {
  width: 100%;
}

#footerSection #contactFormSection #contactForm #contactFormName .colouredLine {
  background-color: black;
}

#footerSection #contactFormSection #contactForm #contactFormBudget {
  margin-bottom: 3em;
  position: relative;
}

#footerSection #contactFormSection #contactForm > section:not(#contactFormBudget) {
  display: flex;
  border-bottom: #b3b3b3 1px solid;
  padding-bottom: 10px;
  margin: 0 0.7em 0 0.7em;
  margin-top: 66px;
  position: relative;
  background-color: white;
  z-index: 1;
}

#footerSection #contactFormSection #contactForm > section:not(#contactFormBudget) .fieldInput {
  flex-grow: 1;
}

#footerSection #contactFormSection #contactForm label {
  width: 80px;
  font-family: "open-sans", "Gothic A1", sans-serif;
  font-size: 0.9em;
  overflow: hidden;
  transition: 1s margin;
  background-color: white;
}

#footerSection #contactFormSection #contactForm label.fieldFilled {
  margin-left: -90px;
}

#footerSection #contactFormSection #contactForm #subjectOptions {
  max-height: 0px;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 10px 0.7em 0 0.7em;
  padding-left: 0.6em;
  overflow: hidden;
}

#footerSection #contactFormSection #contactForm #subjectOptions a {
  text-decoration: none;
  font-family: "open-sans", "Gothic A1", sans-serif;
  font-size: 0.9em;
  color: #919191;
  white-space: nowrap;
  font-weight: 300;
  transition: color 0.1s;
}

#footerSection #contactFormSection #contactForm #subjectOptions a:hover {
  color: #646464;
}

#footerSection #contactFormSection #contactForm #subjectOptions a.activeSubject {
  color: #646464;
}

#footerSection #contactFormSection #contactForm #subjectOptions .subjectOption {
  display: flex;
  align-items: center;
}

#footerSection #contactFormSection #contactForm #subjectOptions .subjectOption .separator {
  margin-left: 5px;
  margin-right: 5px;
  background-color: #bfbfbf;
  height: 13px;
}

#footerSection .threeItemRow {
  display: flex;
  margin: 0 0.7em 0 0.7em;
  justify-content: space-between;
  margin-top: 56px;
}

#footerSection .threeItemRow section {
  width: 32%;
  display: flex;
  border-bottom: #b3b3b3 1px solid;
  padding-bottom: 10px;
  position: relative;
}

#footerSection .threeItemRow section input {
  width: 100%;
}

#footerSection .threeItemRow section .colouredLine {
  background-color: black;
}

#footerSection #toggleSubjectsBtn i {
  transition: all 0.4s;
}

#footerSection .colouredLine {
  background-color: white;
  width: 0%;
  height: 1px;
  top: 100%;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  transition: 0.5s width;
}

#footerSection .colouredLine.expanded {
  width: 100%;
}

#footerSection .showingSubscribeButton:not(.vertical) {
  transform: translateX(-75px);
}

#footerSection .subscribeBtn {
  width: 130px !important;
}

#footerSection #newsletterPrompt {
  text-align: center;
  background-color: lightblue;
  font-family: "open-sans", "Gothic A1", sans-serif;
  padding: 10em 0 10em 0;
  background: linear-gradient(90deg, #2e003f, #9f1b54);
  color: white;
  margin-top: 2em;
}

#footerSection #newsletterPrompt h2 {
  font-weight: 100;
}

#footerSection #newsletterPrompt #newsletterEmail {
  position: relative;
  margin: auto;
}

#footerSection #newsletterPrompt #newsletterEmail input {
  font-size: 0.9em;
  font-weight: 300;
}

#footerSection #newsletterPrompt .errorEmail {
  width: 50%;
  text-align: left;
  margin-top: 8px;
  padding-left: 9.33px;
  color: #eb0028;
  font-size: 14px;
  display: none;
  position: absolute;
  transform: translateX(50%);
}

#footerSection #newsletterPrompt .fieldInput {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  width: 50%;
  margin: auto;
  padding-bottom: 0.5em;
  position: relative;
  width: 75%;
}

#footerSection #newsletterPrompt .fieldInput .clearAndClose {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  transform: translateX(-100%);
  color: #bfbfbf;
}

#footerSection #newsletterPrompt .fieldInput .colouredLine {
  background-color: white;
  width: 0%;
  height: 1px;
  top: 100%;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  transition: 0.5s width;
}

#footerSection #newsletterPrompt .fieldInput .colouredLine.expanded {
  width: 100%;
}

#footerSection #newsletterPrompt .fieldInput .emailDropdown {
  background-color: white;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 1;
  color: #676767;
  text-align: left;
  height: 0;
  transition: 0.2s height;
  overflow: hidden;
}

#footerSection #newsletterPrompt .fieldInput .emailDropdown .emailOption {
  height: 40px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  cursor: pointer;
}

#footerSection #newsletterPrompt .fieldInput .emailDropdown .emailOption .customEmail {
  color: RGB(177, 177, 177);
}

#footerSection #newsletterPrompt .fieldInput .emailDropdown .emailOption.keyboardSelectedEmailOption {
  background: #f6f6f6;
}

#footerSection #newsletterPrompt .fieldInput .emailDropdown .emailOption:hover {
  background: #f6f6f6;
}

#footerSection #newsletterPrompt input {
  width: 100%;
  background-color: transparent;
  border: none;
  color: white;
  font-family: "open-sans", "Gothic A1", sans-serif;
  padding-left: 0.7em;
}

#footerSection #newsletterPrompt input:focus {
  outline: none;
}

#footerSection #newsletterPrompt input::placeholder {
  color: #bfbfbf;
  font-family: "open-sans", "Gothic A1", sans-serif;
}

#footerSection #newsletterPrompt h1 {
  font-size: 3em;
  margin-bottom: 0.5em;
}

#footerSection #newsletterPrompt h2 {
  margin-bottom: 2em;
}

#footerSection #newsletterPrompt #newsletterPrompt {
  display: inline-block;
}

#footerSection #footerBottom {
  display: flex;
  width: 95%;
  justify-content: space-between;
  margin: auto;
  font-family: "open-sans", "Gothic A1", sans-serif;
  font-size: 0.74em;
}

#footerSection #footerBottom #footerBottomLeft, #footerSection #footerBottom #footerBottomRight {
  margin: 2em 0 2em 0;
}

#footerSection #footerBottom #footerBottomRight {
  width: 50%;
}

#footerSection #footerTop {
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin: auto;
  font-family: "open-sans", "Gothic A1", sans-serif;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  align-items: center;
}

#footerSection #footerTop #footerTopLeft {
  padding-top: 30px;
  padding-bottom: 20px;
  display: flex;
}

#footerSection #footerTop #footerTopLeft span {
  display: flex;
  margin-right: 10px;
}

#footerSection #footerTop #footerTopLeft img {
  width: 25px;
  margin-right: 10px;
}

#footerSection #footerTop #footerTopRight {
  display: flex;
  width: 38em;
  justify-content: space-between;
  align-items: center;
}

#footerSection #footerTop #footerTopRight .separator {
  background-color: rgba(0, 0, 0, 0.1);
}

#footerSection .socialMedia {
  display: flex;
  width: 7em;
  justify-content: space-between;
}

#footerSection .socialMedia .iconSocialMedia {
  color: #939393;
  font-size: 1.7em;
  transition: color 0.4s;
}

#footerSection .socialMedia .iconSocialMedia:hover {
  color: #646464;
}

#footerSection .fieldError {
  font-family: "open-sans", "Gothic A1", sans-serif;
  font-size: 0.9em;
  color: red;
  transform: translateY(-100%);
  opacity: 0;
  transition: 1s all;
}

#footerSection .errorContainer {
  position: absolute;
  top: 100%;
  overflow: hidden;
  height: 30px;
}

#footerSection .displayError {
  transform: translateY(10px);
  opacity: 1;
}

#footerSection .telNo {
  font-size: 16px;
}

#footerSection .telNo a {
  text-decoration: none;
  color: #09c;
  transition: all 0.4s;
}

#footerSection .telNo a:hover {
  opacity: 0.65;
}

#footerSection .separator {
  width: 1px;
  background-color: black;
  height: 17px;
  display: inline-block;
}

#footerSection .siteMapLinks {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#footerSection .siteMapLinks a {
  text-decoration: none;
  color: #939393;
  transition: color 0.4s;
}

#footerSection .siteMapLinks a:hover {
  color: #646464;
}

#footerSection .siteMapLinks .separator {
  background-color: rgba(0, 0, 0, 0.1);
}

#footerSection .siteMapLinkContainer {
  padding: 5px;
  text-align: center;
}

#footerSection input[type=range]::-ms-track {
  width: 100%;
  height: 100%;
  -webkit-appearance: none;
  margin: 0px;
  padding: 0px;
  border: 0 none;
  background: transparent;
  color: transparent;
  overflow: visible;
}

#footerSection input[type=range]::-moz-range-track {
  width: 100%;
  height: 100%;
  -moz-appearance: none;
  margin: 0px;
  padding: 0px;
  border: 0 none;
  background: transparent;
  color: transparent;
  overflow: visible;
}

#footerSection input[type=range] {
  width: 100%;
  height: 100%;
  -webkit-appearance: none;
  margin: 0px;
  padding: 0px;
  border: 0 none;
  background: transparent;
  color: transparent;
  overflow: visible;
}

#footerSection input[type=range]:focus::-webkit-slider-runnable-track {
  background: transparent;
  border: transparent;
}

#footerSection input[type=range]:focus {
  outline: none;
}

#footerSection input[type=range]::-ms-thumb {
  width: 40px;
  height: 40px;
  border-radius: 0px;
  border: 0 none;
  background: transparent;
}

#footerSection input[type=range]::-moz-range-thumb {
  width: 40px;
  height: 40px;
  border-radius: 0px;
  border: 0 none;
  background: transparent;
}

#footerSection input[type=range]::-webkit-slider-thumb {
  width: 40px;
  height: 40px;
  border-radius: 0px;
  border: 0 none;
  background: transparent;
  -webkit-appearance: none;
}

#footerSection input[type=range]::-ms-fill-lower {
  background: transparent;
  border: 0 none;
}

#footerSection input[type=range]::-ms-fill-upper {
  background: transparent;
  border: 0 none;
}

#footerSection input[type=range]::-ms-tooltip {
  display: none;
}

#footerSection .slider,
#footerSection .slidervertical {
  position: absolute;
  left: 0;
  top: 0;
  overflow: visible;
  z-index: 100;
}

#footerSection .slidershell {
  border: 0 none;
  position: relative;
  left: 0;
  top: 0;
  overflow: visible;
  width: calc(100% - 16px);
  margin: auto;
}

#footerSection .slidertrack {
  border-top: 1px #b3b3b3 solid;
  position: absolute;
  width: 100%;
}

#footerSection .sliderfill {
  position: absolute;
  pointer-events: none;
  background: #00767f;
  background: linear-gradient(90deg, #2cb43e, #93ff13);
  z-index: 1;
  height: 4px;
  top: 50%;
  transform: translateY(-50%);
}

#footerSection .sliderthumb {
  width: 40px;
  height: 40px;
  z-index: 2;
  background-color: white;
  border: #2cb43e solid 4px;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 0;
  margin: 0;
  text-align: center;
  pointer-events: none;
}

#footerSection .slidervalue {
  height: 40px;
  line-height: 40px;
  color: #717171;
  font-family: "open-sans", "Gothic A1", sans-serif;
  font-size: 0.95em;
  position: absolute;
  left: 0;
  top: 100%;
  border: 0 none;
  padding: 0;
  margin: 0;
  text-align: center;
  pointer-events: none;
}

#footerSection table {
  width: 100%;
}

#footerSection footer {
  margin: auto;
}

#footerSection footer #flagAndText {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.8);
  text-align: center;
  white-space: nowrap;
}

#footerSection footer .openingHours {
  font-size: 14px;
  color: #222222;
}

@media screen and (max-width: 1340px) {
  #footerSection #footerBottom {
    flex-direction: column;
  }
  #footerSection #footerBottom #footerBottomLeft {
    text-align: center;
    order: 2;
  }
  #footerSection #footerBottom #footerBottomRight {
    order: 1;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }
  #footerSection #rowOne, #footerSection .reg {
    margin-bottom: 20px;
  }
  #footerSection #footerTop {
    flex-direction: column;
  }
  #footerSection #footerTop #footerTopRight {
    flex-direction: column;
    width: unset;
  }
  #footerSection #footerTop #footerTopRight .telNo {
    font-size: 20px;
    margin-bottom: 20px;
  }
  #footerSection #footerTop #footerTopRight .openingHours {
    margin-bottom: 20px;
  }
  #footerSection #footerTop #footerTopRight .socialMedia {
    margin-bottom: 20px;
    width: 10em;
  }
  #footerSection #footerTop #footerTopRight .separator {
    display: none;
  }
  #footerSection #footerTop #footerTopLeft span {
    display: flex;
    flex-direction: column;
    margin-right: 0;
  }
}

@media screen and (max-width: 1024px) {
  #footerSection #contactFormSection form#contactForm, #footerSection header p {
    width: 85%;
  }
  #footerSection header {
    width: 100%;
  }
  #footerSection header p {
    text-align: center;
  }
  #footerSection #newsletterPrompt h1 {
    font-size: 2.5em;
  }
  #footerSection .threeItemRow {
    flex-direction: column;
    margin: 0 0.7em 0 0.7em;
  }
  #footerSection .threeItemRow section {
    width: 100%;
    margin-top: 56px;
  }
  #footerSection .threeItemRow #contactFormEmail, #footerSection .threeItemRow #contactFormPhone {
    margin-top: 66px;
  }
}

@media screen and (max-width: 850px) {
  #footerSection #newsletterPrompt h1 {
    font-size: 2em;
  }
}

@media screen and (max-width: 850px) {
  #footerSection #newsletterPrompt {
    padding-left: 1em;
    padding-right: 1em;
  }
  #footerSection #newsletterPrompt .fieldInput {
    width: 85%;
  }
}

#footerSection button.conceptaiButton.showing.vertical {
  display: none;
}

#footerSection .clearAndClose img {
  height: 11px;
}

@media screen and (min-width: 735px) {
  #footerSection .showingSubscribeButton {
    width: 33% !important;
  }
}

#footerSection .conceptaiButton img {
  width: 25px;
  transition: all 0.2s ease-out;
  transform: translateY(2px);
  margin-left: 3px;
}

#footerSection .conceptaiButton:hover img {
  transform: translateX(5px) translateY(2px);
}

#footerSection .copyright {
  color: #999999;
}

#footerSection button.conceptaiButton.hidden {
  left: 150%;
  position: absolute;
  top: 100%;
  transform: translateY(-100%);
  padding: 0 1em;
  height: 40px;
  width: 110px;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  opacity: 0;
  transition: all 1s;
  pointer-events: none;
}

#footerSection button.conceptaiButton.showing {
  display: block;
  opacity: 1.0;
  left: calc(100% + 20px);
  position: absolute;
  top: 100%;
  transform: translateY(-100%);
  padding: 0 1em;
  height: 40px;
  width: 110px;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  transition: all 1s;
  cursor: pointer;
}

#footerSection .newsletterCentered {
  position: relative;
  font-family: "open-sans", "Gothic A1", sans-serif;
}

#footerSection .newsletterCentered h2, #footerSection .newsletterCentered h1 {
  font-weight: 400;
}

#footerSection #sliderHeader {
  font-family: "open-sans", "Gothic A1", sans-serif;
  text-align: center;
  font-size: 0.9em;
}

#footerSection button.conceptaiButton.hidden.vertical {
  opacity: 0;
  left: 50%;
  top: 100%;
  transform: translateY(285%) translateX(-50%);
  padding: 0 1em;
  height: 40px;
  width: 110px;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  transition: all 1s;
  pointer-events: none;
}

#footerSection button.conceptaiButton.showing.vertical {
  opacity: 1.0;
  left: 50%;
  top: 60%;
  transform: translateY(285%) translateX(-50%);
  padding: 0 1em;
  height: 40px;
  width: 110px;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  transition: all 1s;
  pointer-events: all;
}

@media screen and (max-width: 735px) {
  #footerSection button.conceptaiButton.showing.vertical {
    display: block;
  }
  #footerSection #newsletterPrompt .fieldInput {
    width: 85% !important;
  }
  #footerSection button.conceptaiButton.hidden:not(.vertical) {
    display: none !important;
  }
  #footerSection button.conceptaiButton.showing:not(.vertical) {
    display: none !important;
  }
  #footerSection .nonmobile {
    display: none;
  }
  #footerSection .showingSubscribeButton {
    width: 33% !important;
    transform: translateX(0) !important;
  }
}

#footerSection .flagAndTextContainer {
  display: flex;
  align-items: center;
}

#footerSection svg {
  width: 40px;
  height: 40px;
  transform: rotate(-90deg);
  border-radius: 50%;
  position: absolute;
  z-index: 100;
}

#footerSection circle:not(#outline) {
  fill: white;
  stroke: #5bce11;
  stroke-width: 32;
  /* This is where the % is! */
  stroke-dasharray: 50 100;
  /* for 38% */
}

#footerSection circle#outline {
  fill: transparent;
  stroke: #2cb43e;
  stroke-width: 4;
}

@-webkit-keyframes ConceptaiGradient {
  0% {
    background-position: 9% 0%;
  }
  50% {
    background-position: 92% 100%;
  }
  100% {
    background-position: 9% 0%;
  }
}

@-moz-keyframes ConceptaiGradient {
  0% {
    background-position: 9% 0%;
  }
  50% {
    background-position: 92% 100%;
  }
  100% {
    background-position: 9% 0%;
  }
}

@-o-keyframes ConceptaiGradient {
  0% {
    background-position: 9% 0%;
  }
  50% {
    background-position: 92% 100%;
  }
  100% {
    background-position: 9% 0%;
  }
}

@keyframes ConceptaiGradient {
  0% {
    background-position: 9% 0%;
  }
  50% {
    background-position: 92% 100%;
  }
  100% {
    background-position: 9% 0%;
  }
}

#footerSection #newsletterPrompt {
  -webkit-animation: ConceptaiGradient 10s ease infinite;
  -moz-animation: ConceptaiGradient 10s ease infinite;
  -o-animation: ConceptaiGradient 10s ease infinite;
  animation: ConceptaiGradient 10s ease infinite;
  background-size: 400% 400%;
}

#footerSection #contactFormSection #contactForm #contactFormBudget {
  overflow: visible;
}

#footerSection .fieldLabelContainer {
  overflow: hidden;
}

#footerSection .subjectOptionPrompt {
  width: 100%;
  font-family: "open-sans", "Gothic A1", sans-serif;
  font-size: 0.9em;
  margin-bottom: 10px;
}

#footerSection #subjectOptions {
  display: flex;
  transition: max-height 0.5s ease;
  z-index: 100;
}

#footerSection .subjectOptionsDisplayed {
  transition: max-height 1s ease;
  max-height: 200px !important;
}

#footerSection input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px white inset;
}
